.chatPreview {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px 40px 20px 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chatPreview:hover {
  background-color: #3098ff;
}

.chatPreview__left p {
  margin-top: 5px;
  font-weight: 300;
}
.chatPreview__right {
  background-color: #f1f3f4;
  color: #0e7aef;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: 600;
  height: 23px;
  width: 23px;
  border-radius: 100%;
}

/* ---------------------------------------- responsiveness settings ---------------------------------------- */
@media (max-width: 832px) {
  .chatPreview {
    padding: 15px 20px 15px 20px;
  }
}
