.chatPage {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.chatPage__leftSection {
  width: 340px;
  height: 100vh;
  background-color: #0e7aef;
  color: #f1f3f4;
  display: flex;
  flex-direction: column;
  /* padding-bottom: 20px; */
}
.chatPage__rightSection {
  flex: 1;
  height: 100vh;
  background-color: green;
  display: flex;
  flex-direction: column;
}
.chatPage__leftSection__top {
  height: max-content;
  padding: 30px 20px 30px 20px;
  border-bottom: 8px solid rgba(255, 255, 255, 0.5);
}

.chatPage__leftSection__top__userDetails h2 {
  font-size: 30px;
}
.chatPage__leftSection__top__userDetails p {
  margin-top: 3px;
  margin-bottom: 25px;
}

.chatPage__leftSection__top__optionsSection__moreOptions {
  width: 100%;
  cursor: pointer;
  border: none;
  outline: none;
  height: max-content;
  padding: 10px 8px;
  background-color: #f1f3f4;
  color: #0e7aef;
  border-radius: 8px;
  font-weight: 600;
}
.chatPage__leftSection__top__optionsSection__closeOptions {
  width: 100%;
  cursor: pointer;
  border: none;
  outline: none;
  height: max-content;
  padding: 10px 8px;
  background-color: #f1f3f4;
  color: #0e7aef;
  border-radius: 8px;
  margin-top: 15px;
}

.chatPage__leftSection__bottom {
  flex: 1;
  overflow-y: scroll;
  padding-bottom: 20px;
}

.chatPage__leftSection__bottom--MenuPanel p {
  padding: 20px 40px 20px 30px;
  cursor: pointer;
  font-size: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.chatPage__leftSection__bottom--MenuPanel p:hover {
  background-color: #3098ff;
}
.chatPage__leftSection__bottom--newSingleChatPanel {
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.chatPage__leftSection__bottom--newSingleChatPanel p {
  font-size: 18px;
  margin-bottom: 15px;
}

.chatPage__leftSection__bottom--newSingleChatPanel input {
  border: none;
  outline: none;
  padding: 10px 0px 10px 14px;
  margin-bottom: 15px;
  font-family: sans-serif;
  background-color: #3098ff;
  color: white;
  border-radius: 8px;
  font-size: 15px;
}

.chatPage__leftSection__bottom--newSingleChatPanel input::placeholder {
  color: #f1f3f4;
}
.chatPage__leftSection__bottom--newSingleChatPanel input:focus {
  outline: 1px solid white;
}

.chatPage__leftSection__bottom--newSingleChatPanel textarea {
  border: none;
  outline: none;
  padding: 10px 0px 9px 14px;
  margin-bottom: 15px;
  resize: none;
  min-height: 20px;
  max-height: 100px;
  height: 20px;
  font-family: sans-serif;
  background-color: #3098ff;
  color: white;
  border-radius: 8px;
  font-size: 15px;
}

.chatPage__leftSection__bottom--newSingleChatPanel textarea::placeholder {
  color: #f1f3f4;
}
.chatPage__leftSection__bottom--newSingleChatPanel textarea:focus {
  outline: 1px solid white;
}

.chatPage__leftSection__bottom--newSingleChatPanel button {
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  background-color: #f1f3f4;
  color: #0e7aef;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.chatPage__leftSection__bottom--joinNewGroupPanel {
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.chatPage__leftSection__bottom--joinNewGroupPanel p {
  font-size: 18px;
  margin-bottom: 15px;
}

.chatPage__leftSection__bottom--joinNewGroupPanel input {
  border: none;
  outline: none;
  padding: 10px 0px 10px 14px;
  margin-bottom: 15px;
  font-family: sans-serif;
  background-color: #3098ff;
  color: white;
  border-radius: 8px;
  font-size: 15px;
}

.chatPage__leftSection__bottom--joinNewGroupPanel input::placeholder {
  color: #f1f3f4;
}
.chatPage__leftSection__bottom--joinNewGroupPanel input:focus {
  outline: 1px solid white;
}

.chatPage__leftSection__bottom--joinNewGroupPanel button {
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  background-color: #f1f3f4;
  color: #0e7aef;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.chatPage__leftSection__bottom--createNewGroupPanel {
  /* padding: 20px 20px 20px 20px; */
  display: flex;
  flex-direction: column;
}

.chatPage__leftSection__bottom--createNewGroupPanel__heading {
  font-size: 18px;
  margin: 20px 20px 15px;
}

.chatPage__leftSection__bottom--createNewGroupPanel input {
  border: none;
  outline: none;
  padding: 10px 0px 10px 14px;
  margin: 0px 20px;
  font-family: sans-serif;
  background-color: #3098ff;
  color: white;
  border-radius: 8px;
  font-size: 15px;
}

.chatPage__leftSection__bottom--createNewGroupPanel input::placeholder {
  color: #f1f3f4;
}
.chatPage__leftSection__bottom--createNewGroupPanel input:focus {
  outline: 1px solid white;
}

.chatPage__leftSection__bottom--createNewGroupPanel__heading2 {
  font-size: 15px;
  padding: 15px 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.chatPage__leftSection__bottom__groupSelectionUser {
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 15px 20px;
}

.chatPage__leftSection__bottom__groupSelectionUser:hover {
  background-color: #3098ff;
}

.chatPage__leftSection__bottom--createNewGroupPanel button {
  border: none;
  outline: none;
  padding: 10px;
  /* width: 100%; */
  background-color: #f1f3f4;
  color: #0e7aef;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  margin: 20px;
}
.chatPage__leftSection__bottom__groupSelectionUser__name {
  font-weight: 700;
}
.chatPage__leftSection__bottom__groupSelectionUser__email {
  font-size: 14px;
}

.chatPage__leftSection__bottom--showGroupMembersPanel__memberInfo {
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.chatPage__leftSection__bottom--showGroupMembersPanel__memberInfo__name {
  font-size: 20px;
  font-weight: 700;
}
.chatPage__leftSection__bottom--showGroupMembersPanel__memberInfo__email {
  font-size: 14px;
  font-weight: 300;
  margin-top: 2px;
}

.chatPage__rightSection__top {
  height: max-content;
  background-color: #f1f3f4;
  padding: 10px 20px 15px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
}
.chatPage__rightSection__top__chatInfo {
  display: flex;
  align-items: center;
}

.chatPage__rightSection__top__chatInfo span {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.chatPage__rightSection__top__chatInfo p {
  font-size: 14px;
}

.chatPage__rightSection__top__chatOptionsToggler {
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  margin-right: 20px;
  /* margin-top: 10px; */
}

.chatPage__rightSection__top__chatOptions {
  top: 48px;
  right: 40px;
  position: absolute;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.chatPage__rightSection__top__chatOptions button {
  border: none;
  outline: none;
  padding: 15px 70px 15px 15px;
  cursor: pointer;
  text-align: left;
  font-size: 15px;
  background-color: #f1f3f4;
}

.chatPage__rightSection__top__chatOptions button:hover {
  background-color: #cce0ff;
}

.chatPage__rightSection__middle {
  flex: 1;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.chatPage__rightSection__middle__liveChatWindow {
  overflow-y: scroll;
  flex: 1;
  background-color: #f1f3f4;
  padding: 20px 30px;
}
#noWindowSelectedScreen {
  display: flex;
  align-items: center;
  justify-content: center;
}

#noWindowSelectedScreen .chatPage__logoContainer {
  transform: scale(1.5);
}

.chatMessage {
  padding: 15px 15px;
  width: max-content;
  margin: 40px 0;
  max-width: 400px;
  overflow-wrap: break-word;
  position: relative;
}

.chatMessage__senderName {
  font-size: 13px;
  font-weight: 800;
}

.chatMessage__content {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 18px;
  font-weight: 400;
}

.chatMessage__dateTime {
  font-size: 12px;
  opacity: 0.9;
}

.currentUserMessage {
  background-color: #0e7aef;
  color: #f1f3f4;
  margin-left: auto;
  border-top-left-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

.otherUserMessage {
  margin-right: auto;
  color: #161616;
  background-color: #dbdbdb;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
.messageTriangleLeft {
  border-left: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #dbdbdb;
  position: absolute;
  top: 0;
  left: -10px;
}

.messageTriangleRight {
  border-right: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #0e7aef;
  position: absolute;
  top: 0;
  right: -10px;
}

.chatPage__rightSection__bottom {
  display: flex;
  align-items: center;
  background-color: #dbdbdb;
  padding: 10px 0;
  box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.1);
}

.chatPage__rightSection__bottom__inputArea {
  flex: 1;
  height: 30px;
  padding: 10px 20px;
  resize: none;
  border: none;
  outline: none;
  min-height: 30px;
  max-height: 100px;
  background-color: #dbdbdb;
  font-family: sans-serif;
  font-size: 16px;
  color: #111111;
}

.chatPage__rightSection__bottom__sendMessage {
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 10px;
}

.hide {
  display: none !important;
}

.chatPreview--selected {
  background-color: #3098ff;
}
.selected {
  background-color: #30ffb282;
}

.online--symbol {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: green;
  margin-right: 6px;
}

.offline--symbol {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: red;
  margin-right: 6px;
}

/* ---------------------------------------- responsiveness settings ---------------------------------------- */
@media (max-width: 832px) {
  .chatPage__leftSection {
    width: 250px;
  }
}
@media (max-width: 683px) {
  .chatPage__leftSection {
    width: 100%;
  }
  .chatMessage {
    max-width: 300px;
  }
}
@media (max-width: 400px) {
  .chatMessage {
    max-width: 200px;
  }
}
